# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# Logs
*.log

# =========================
# Angular / Node
# =========================
node_modules/
dist/
.angular/
coverage/

# =========================
# Spring Boot / Maven
# =========================
target/
.mvn/timing.properties

# =========================
# Environment / secrets
# =========================
.env
.env.*
application-local.properties
application-local.yml
